<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito</title>
</head>
<body>
  <h1>Carrito</h1>
    {{#if ticket}}
    <h2>{{message}}</h2>
    <h2>Ticket</h2>
    <p>Código: {{ticket.code}}</p>
    <p>Fecha de compra: {{ticket.purchase_datetime}}</p>
    <p>Monto total: {{ticket.amount}}</p>
    <p>Comprador: {{ticket.purchaser}}</p>
  {{/if}}
  <table>
    <thead>
      <tr>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {{#each cart.products}}
        <tr>
          <td>{{this.productId.title}}</td>
          <td>{{this.productId.description}}</td>
          <td>{{this.productId.price}}</td>
          <td>{{this.quantity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <form action="/cart/{{cart._id}}/purchase" method="post">
    <button type="submit">Finalizar compra</button>
  </form>

<script src="https://js.stripe.com/v3/"></script>
<script>
  const stripe = Stripe('{{STRIPE_PUBLIC_KEY}}');

  document.querySelector('form').addEventListener('submit', async (e) => {
    e.preventDefault();

    const response = await fetch(`/cart/{{cart._id}}/stripe-session`, { method: 'POST' });
    const { sessionId } = await response.json();

    const { error } = await stripe.redirectToCheckout({ sessionId });

    if (error) {
      console.error(error);
    }
  });
</script>

</body>
</html>